/* _article.scss */
@use '../base/typography';

// visuals

.content {
  background: var(--surface-3);
  border: 1px solid var(--surface-1);
  padding: var(--size-4);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-2);
}

.poem {
  display: grid;
  gap: var(--size-3);
  place-content: center;
  place-items: center;
  font-family: 'RobotoFlex Regular';
}

// typography

.stanza {
  font-variation-settings: 'opsz' 68;

  &__line {
    font-size: calc(var(--size-fluid-2) * 1.5);
  }
}
