/* _article.scss */
@use '../base/typography';

// visuals

.content {
  background: var(--surface-3);
  border: 1px solid var(--surface-1);
  padding: var(--size-4);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-2);
}

.poem {
  display: grid;
  gap: var(--size-3);
  place-content: center;
  place-items: center;
  font-family: 'RobotoFlex Regular';
}

// typography

.header {
  text-align: center;
  font-family: 'Decovar Alpha Regular24';

  &__title {
    font-size: calc(var(--size-fluid-1) * 3);
    line-height: var(--font-lineheight-0);
    font-variation-settings: 'TRME' 0, 'TRMG' 0, 'TRMB' 0, 'TRMF' 772, 'BLDB' 390;
  }

  &__subtitle {
    font-size: calc(var(--size-fluid-1) * 2.8);
    line-height: var(--font-lineheight-1);
    font-variation-settings: 'TRMB' 505, 'TRMC' 651, 'TRML' 806, 'TRMA' 416, 'TRMG' 250, 'WMX2' 137, 'TRME' 648;
    letter-spacing: 0.13em;
  }

  &__author {
    font-size: calc(var(--size-fluid-1) * 2);
    line-height: var(--font-lineheight-4);
    font-style: italic;
    font-variation-settings: 'TRMC' 830;
    letter-spacing: 0.099em;
  }
}

.image {
  max-width: var(--size-15);
}

.stanza {
  font-variation-settings: 'opsz' 68;

  &__line {
    font-size: calc(var(--size-fluid-2) * 1.5);
  }
}
