/* _footer.scss */

.resources {
  background-color: var(--surface-1);
  padding: var(--size-6);
  text-align: center;
  line-height: var(--font-lineheight-1);
  font-size: var(--font-size-0);
  font-weight: var(--font-weight-4);
  font-family: var(--font-sans);
  margin-inline: auto;
}
