/*  _body.scss */

// https://css-tricks.com/couple-takes-sticky-footer/
html,
body {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  padding-top: var(--size-2);
}

.container {
  display: grid;
  gap: 2rem;
}

.content {
  width: 90%;
  max-width: max-content;
  margin: 0 auto;
}

.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}
